<div class="container" style="padding-top: 50px;">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-12">

      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4 text-center">Be A Sponsor</h1>
        </div>
      </div>

      <div class="row row-padding">
        <div class="col-md-12">
          <form ng-submit="beSponsorForm.submit()">

            <div class="form-group">
              <label>Your Name</label>
              <input type="text" class="form-control" ng-model="beSponsorForm.data.name" required>
              <small class="form-text text-muted">Please enter your real name so others can find you on PhoneBook.
              </small>
            </div>

            <div class="form-group">
              <label>Select Interest Area</label>
              <select multiple class="form-control" ng-model="beSponsorForm.data.interest_areas"
                      ng-options="ia.name for ia in beSponsorForm.interest_areas" style="height: 200px;">
              </select>
              <small class="form-text text-muted">Use <strong>ctrl</strong> or <strong>&#8984;</strong> to select
                multiple interest areas.
              </small>
            </div>
            <!--<div class="row row-padding"></div>-->
            <div class="form-group">
              <input type="submit" class="btn btn-outline-primary" value="Be A Sponsor">
            </div>

          </form>
        </div>
      </div>


    </div>
  </div>
</div>