<div ng-controller="NavbarCtrl">

  <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="padding-top: 15px; padding-bottom: 15px;">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="img/logo_small.png" width="30" height="30" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item navbar-nav-item">
          <a class="nav-link" ng-href="#!/start">Start A Project <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item navbar-nav-item">
          <a class="nav-link" ng-href="#!/projects">Browse Projects</a>
        </li>

        <li class="nav-item navbar-nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#!/projects?category=Artificial%20Intelligences">Artificial Intelligences</a>
            <a class="dropdown-item" href="#!/projects?category=Automating%20SDLC">Automating SDLC</a>
            <a class="dropdown-item" href="#!/projects?category=Automation">Automation</a>
            <a class="dropdown-item" href="#!/projects?category=Business%20Innovation">Business Innovation</a>
            <a class="dropdown-item" href="#!/projects?category=Cloud">Cloud</a>
            <a class="dropdown-item" href="#!/projects?category=Data%20Science%2FBig Data">Data Science/Big Data</a>
            <a class="dropdown-item" href="#!/projects?category=Deployment%20Tools">Deployment Tools</a>
            <a class="dropdown-item" href="#!/projects?category=Development%20Tools">Development Tools</a>
            <a class="dropdown-item" href="#!/projects?category=Environment%20Management">Environment Management</a>
            <a class="dropdown-item" href="#!/projects?category=Monitoring%20%26%20lSupport">Monitoring & Support</a>
            <a class="dropdown-item" href="#!/projects?category=Pain%20Remover">Pain Remover</a>
            <a class="dropdown-item" href="#!/projects?category=Knowledge%20Sharing">Knowledge Sharing</a>
            <a class="dropdown-item" href="#!/projects?category=Solving%20Business%20Problem">Solving Business
              Problem</a>
            <a class="dropdown-item" href="#!/projects?category=Test%20Tools">Test Tools</a>
            <a class="dropdown-item" href="#!/projects?category=Robotics">Robotics</a>
          </div>
        </li>

        <li class="nav-item navbar-nav-item">
          <a class="nav-link" ng-href="#!/sponsors">Projects Sponsor</a>
        </li>

      </ul>

      <ul class="navbar-nav ml-auto">

        <li class="nav-item navbar-nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-search" aria-hidden="true" style="line-height: inherit;"></i> Search
          </a>
        </li>

        <li class="nav-item navbar-nav-item">
          <a class="nav-link" href="#">Login<span class="sr-only">(current)</span></a>
        </li>
      </ul>

      <!--<form class="form-inline my-2 my-lg-0">-->
      <!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
      <!--</form>-->


    </div>
  </nav>
</div>