<div class="container" style="padding-top: 50px;">
  <div class="row" ng-show="!project">
    <div class="col-md-12 text-center text-primary" style="padding-top: 30vh;">
      <h1>404</h1>
      <h4>The project you are looking for is still in mind</h4>
    </div>
  </div>
  <div class="row" ng-show="project">

    <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 100%" ng-show="isCreate">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="alert-heading">Well done!</h4>
      <p>Aww yeah, you successfully create this project.</p>
    </div>


    <!--title-->
    <div class="col-md-12 row-padding">
      <h3>{{project.title}}</h3>
      <p class="text-muted">{{project.category}}</p>
      <small>by</small> {{project.owner}}
    </div>

    <div class="col-md-8">
      <p class="lead">{{project.description}}</p>
    </div>
    <div class="col-md-4">

      <!--project spec-->
      <div class="row">

        <div class="col-md-12 project-spec-item">
          <span class="project-spec-item-value">{{project.up_vote - project.down_vote}}</span><br/>
          <span class="project-spec-item-name">up vote</span>
        </div>

        <div class="col-md-12 project-spec-item">
          <span class="project-spec-item-value">{{project.status}}</span><br/>
          <span class="project-spec-item-name">status</span>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-block btn-outline-success" ng-click="clickUpVote()">Up Vote</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-block btn-outline-danger" ng-click="clickDownVote()">Down Vote</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row-padding" ng-show="project" style="border-bottom: 1px solid lightgray"></div>
  <div class="row row-padding" ng-show="project">
    <!--<div class="col-md-12 row-padding"></div>-->
    <!--manpower-->
    <div class="col-md-6" ng-if="project.resources.manpower">
      <h5>Manpower</h5>

      <div class="row row-padding">
        <div class="col-md-12">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{(project.resources.manpower.manpower_count.funded * 100) / project.resources.manpower.manpower_count.total}}%" aria-valuenow="{{project.resources.manpower.manpower_count.funded}}" aria-valuemin="0" aria-valuemax="{{project.resources.manpower.manpower_count.total}}"></div>
          </div>
          <div>
            <small class="pull-left">{{project.resources.manpower.manpower_count.funded}} funded</small>
            <small class="pull-right">need {{project.resources.manpower.manpower_count.need}} more</small>
          </div>
        </div>
      </div>

      <div class="row row-padding" ng-if="project.resources.manpower.funded">
        <div class="col-md-12">
          <small>Founded</small>
        </div>
        <div class="col-md-12" ng-repeat="resource in project.resources.manpower.funded">
          <span class="pull-left">Web Developer</span>
          <span class="badge badge-primary pull-right">Funded 2</span>
        </div>
      </div>
      <div class="row" ng-if="project.resources.manpower.need">
        <div class="col-md-12">
          <small>Need</small>
        </div>
        <div class="col-md-12" ng-repeat="resource in project.resources.manpower.need">
          <span class="pull-left">{{resource.name}}</span>
          <span class="badge badge-warning pull-right">{{resource.quantity}} more</span>
        </div>
      </div>

    </div>

    <!--Assets-->
    <div class="col-md-6">
      <!--<h5>Assets</h5>-->
    </div>
  </div>
  <div class="row-padding" ng-show="project" style="border-bottom: 1px solid lightgray"></div>
  <div class="row row-padding" ng-show="project">
    <div class="col-md-12">
      <h5>Comments</h5>
    </div>
    <div class="col-md-6" ng-show="!project.comments || project.comments.length == 0">
      <div class="text-center" style="padding-top: 30px; padding-bottom: 30px;">
        <p class="text-muted">Ops, No Comment Yet</p>
      </div>
    </div>
    <div class="col-md-6" ng-show="project.comments && project.comments.length > 0;" style="margin-top: 20px;">
      <div class="row" ng-repeat="comment in project.comments">
        <div class="col-md-12" style="margin-top: 10px; margin-bottom: 10px; padding-left: 20px; padding-right: 20px;">
          <div ng-style="{'border-top': $first? '':'1px solid lightgray'}" ></div>
        </div>
        <div class="col-md-2 text-right">
          <img src="img/avatar-default.png" class="rounded-circle" style="height: 40px; width: 40px;">
        </div>
        <div class="col-md-3">
          <span style="font-size: larger;">{{comment.user}}</span><br/>
          <small>on {{postDateFormat(comment.post_date)}}</small>
        </div>
        <div class="col-md-7">
          {{comment.content}}
        </div>
      </div>
    </div>
    <!--comment input-->
    <div class="col-md-5 offset-md-1">
      <form ng-submit="commentForm.submit()">

        <div class="form-group">
          <label>Your Name</label>
          <input type="text" class="form-control" ng-model="commentForm.data.user" required>
          <small class="form-text text-muted">Please enter your real name so others can find you on PhoneBook.</small>
        </div>

        <div class="form-group">
          <label>Your Comments</label>
          <textarea class="form-control" style="height: 150px;" ng-model="commentForm.data.content" required></textarea>
          <small class="form-text text-muted">No more than 200 words.</small>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-outline-primary btn-block" value="Submit Comment">
        </div>

      </form>


    </div>
  </div>
</div>