<div class="container" style="padding-top: 50px;">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-12">

      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4 text-center">Let's Start</h1>
        </div>
      </div>

      <div class="row row-padding">
        <div class="col-md-12">
          <form ng-submit="createProjectForm.submit()">

            <div class="form-group">
              <label>Your Name</label>
              <input type="text" class="form-control" ng-model="createProjectForm.data.owner" required>
              <small class="form-text text-muted">Please enter your real name so others can find you on PhoneBook.
              </small>
            </div>

            <div class="form-group">
              <label>Your Project Name</label>
              <input type="text" class="form-control" ng-model="createProjectForm.data.title" required>
              <small class="form-text text-muted">Keep the name short and memorable!</small>
            </div>

            <div class="form-group">
              <label>Your Project Description</label>
              <textarea class="form-control" style="height: 150px;" ng-model="createProjectForm.data.description"
                        required></textarea>
              <small class="form-text text-muted">No more than 100 words.</small>
            </div>

            <div class="form-group">
              <label>Project Category</label>
              <select class="form-control" ng-model="createProjectForm.data.category" required>
                <!--<option disabled>Select a category</option>-->
                <option>Artificial Intelligences</option>
                <option>Automating SDLC</option>
                <option>Automation</option>
                <option>Business Innovation</option>
                <option>Cloud</option>
                <option>Data Science/Big Data</option>
                <option>Deployment Tools</option>
                <option>Development Tools</option>
                <option>Environment Management</option>
                <option>Monitoring & Support</option>
                <option>Pain Remover</option>
                <option>Knowledge Sharing</option>
                <option>Solving Business Problem</option>
                <option>Test Tools</option>
                <option>Robotics</option>
              </select>
            </div>

            <div class="form-group">
              <label>Manpower</label>
              <div class="row" ng-repeat="resource in createProjectForm.data.resources.manpower.need"
                   style="margin-bottom: 10px;">
                <div class="col-sm-8">
                  <input type="text" class="form-control"
                         ng-model="createProjectForm.data.resources.manpower.need[$index].name" required>
                </div>
                <div class="col-sm-4">
                  <input type="number" class="form-control"
                         ng-model="createProjectForm.data.resources.manpower.need[$index].quantity" required>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8">
                  <small class="form-text text-muted">Type your resources name (e.g. Developer, Gaia Expert etc.)
                  </small>
                </div>
                <div class="col-sm-4">
                  <small class="form-text text-muted">Quantity needed</small>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <span class="pull-right text-success" ng-click="createProjectForm.addResource()"><i class="fa fa-plus"
                                                                                                      aria-hidden="true"
                                                                                                      style="line-height: inherit;"></i> Add More</span>
                </div>
              </div>
            </div>

            <div class="row-padding"></div>

            <div class="form-group">
              <input type="submit" class="btn btn-outline-primary" value="Create Project">
            </div>

          </form>
        </div>
      </div>

    </div>
  </div>
</div>